@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source '../../storage/framework/views/*.php';


@theme {
    --font-sans:
        'Instrument Sans',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';

    --font-cutive:
        'Cutive Mono',
        monospace;
}


/* =====================================================
   ALPINE
===================================================== */

[x-cloak] {
    display: none !important;
}


/* =====================================================
   RECOMMENDATION PROPERTY
===================================================== */

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


/* =====================================================
   PROPERTY CARD
===================================================== */

.property-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}